<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- `ë¯¼ê°„ë¶€ë¬¸`ë§Œ í¬í•¨í•©ë‹ˆë‹¤
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [54]:
import pandas as pd
import numpy as np
from scipy import stats

col = ['~60m2', '60~85m2', '85m2~']
row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

df = pd.DataFrame({'Area':row, '~60m2':['54','782','143','577'], '60~85m2':['2','1437','1','735'], '85m2~':['0','44','0','142']})
df

  Area ~60m2 60~85m2 85m2~
0   ì„œìš¸    54       2     0
1   ëŒ€ì „   782    1437    44
2   ëŒ€êµ¬   143       1     0
3   ë¶€ì‚°   577     735   142

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [55]:
df2=[52+2+0, 590+665+142, 113+1061+42, 772+1+0]
df[['~60m2', '60~85m2', '85m2~']] = df[['~60m2', '60~85m2', '85m2~']].apply(pd.to_numeric)
df['sum1']= df.sum(axis=1)
df['sum2']=df2
df['avr'] = df['sum1']/3
df['avr2']= df['sum2']/3
chil1 = stats.chisquare(f_obs=[df['sum1'],df['sum2']], f_exp=[df['avr'], df['avr2']])
print(chil1)
print(df)
#ì„œìš¸ì€ p valueê°€ 9.2ë¡œ 0.5í”„ë¡œë³´ë‹¤ í¬ê³  ë‚˜ë¨¸ì§€ ëŒ€ì „, ëŒ€êµ¬, ë¶€ì‚°ì€ ê¸°ê°í•œë‹¤.

Power_divergenceResult(statistic=array([ 146.66666667, 4880.        , 1813.33333333, 2969.33333333]), pvalue=array([9.28111383e-34, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]))
  Area  ~60m2  60~85m2  85m2~  sum1  sum2         avr        avr2
0   ì„œìš¸     54        2      0    56    54   18.666667   18.000000
1   ëŒ€ì „    782     1437     44  2263  1397  754.333333  465.666667
2   ëŒ€êµ¬    143        1      0   144  1216   48.000000  405.333333
3   ë¶€ì‚°    577      735    142  1454   773  484.666667  257.666667

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [65]:
row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

df3 = pd.DataFrame({'Area':row, '~60m2':['52','590','113','772'], '60~85m2':['2','665','1061','1'], '85m2~':['0','142','42','0']})
df4 = pd.DataFrame({'Area':row, '~60m2':['52','772','113','590'], '60~85m2':['2','1','1061','665'], '85m2~':['0','0','42','142']})

obs = np.array([[52,2],[772,1]])
total_obs = np.sum(obs)

exp = np.array([[(52+2)*(52+772), (52+2)*(2+1)], [(772+1)*(52+772), (772+1)*(2+1)]])

exp = exp / total_obs

squared = np.power(obs - exp, 2)
#squared
chil2 = np.sum(squared / exp)
chil2

array([[3.25481739, 3.25481739],
       [3.25481739, 3.25481739]])

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

In [66]:
obs = np.array([[54,52],[782,590]])
total_obs = np.sum(obs)

exp = np.array([[(54+52)*(54+782), (54+52)*(52+590)], [(782+590)*(54+782), (782+590)*(52+590)]])

exp = exp / total_obs

squared = np.power(obs - exp, 2)
#squared
chi = np.sum(squared / exp)
chi #2ë²ˆê³¼ ìƒì´í•˜ë‹¤... ë‹¤ì‹œ ë„ì „ í•´ì•¼í•¨

1.4676862300933216

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.

myChisq(v1) 

# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤