<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# 📝 Assignment

# 카이제곱검정


## 1. 공공데이터 조작 연습. 

국가 통계 포털에서 아래 이미지를 참조하여

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020년 8월**에 해당하는 규모별 미분양현황 에 대한 데이터셋을 생성하세요. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60m이하`, `60~85m`, `85m초과`의 3개 규모와 (column)
- `서울`, `대전`, `대구`, `부산` 4개의 지역을 포함해야합니다. (row)
- `민간부문`만 포함합니다
- 데이터가 없는 경우는 0으로 처리하세요.

이후 데이터셋을 colab으로 불러오세요. 이때 변수의 이름은 `df`를 사용합니다.

In [54]:
import pandas as pd
import numpy as np
from scipy import stats

col = ['~60m2', '60~85m2', '85m2~']
row = ['서울', '대전', '대구', '부산']

df = pd.DataFrame({'Area':row, '~60m2':['54','782','143','577'], '60~85m2':['2','1437','1','735'], '85m2~':['0','44','0','142']})
df

  Area ~60m2 60~85m2 85m2~
0   서울    54       2     0
1   대전   782    1437    44
2   대구   143       1     0
3   부산   577     735   142

## 2. 지역에 대해서 one-sample chi-square test를 실행, 해당 결과를 `chi1`에 저장 후 설명해보세요.

예시) 만약 **9월달 데이터**를 기준으로 한다면
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
을 비교 하게 될 것입니다.

In [55]:
df2=[52+2+0, 590+665+142, 113+1061+42, 772+1+0]
df[['~60m2', '60~85m2', '85m2~']] = df[['~60m2', '60~85m2', '85m2~']].apply(pd.to_numeric)
df['sum1']= df.sum(axis=1)
df['sum2']=df2
df['avr'] = df['sum1']/3
df['avr2']= df['sum2']/3
chil1 = stats.chisquare(f_obs=[df['sum1'],df['sum2']], f_exp=[df['avr'], df['avr2']])
print(chil1)
print(df)
#서울은 p value가 9.2로 0.5프로보다 크고 나머지 대전, 대구, 부산은 기각한다.

Power_divergenceResult(statistic=array([ 146.66666667, 4880.        , 1813.33333333, 2969.33333333]), pvalue=array([9.28111383e-34, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00]))
  Area  ~60m2  60~85m2  85m2~  sum1  sum2         avr        avr2
0   서울     54        2      0    56    54   18.666667   18.000000
1   대전    782     1437     44  2263  1397  754.333333  465.666667
2   대구    143        1      0   144  1216   48.000000  405.333333
3   부산    577      735    142  1454   773  484.666667  257.666667

## 3. 지역과 규모에 대해서 two-sample chi-square test를 실행, 해당 결과를 `chi2`에 저장 후 설명해보세요.

예시) **9월달 데이터**를 기준으로 한다면

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|서울|52|2|0|
|대전|772|1|0|
|대구|113|1061|42|
|부산|590|665|142|

에 대해서 검정해야 할 겁니다.

In [65]:
row = ['서울', '대전', '대구', '부산']

df3 = pd.DataFrame({'Area':row, '~60m2':['52','590','113','772'], '60~85m2':['2','665','1061','1'], '85m2~':['0','142','42','0']})
df4 = pd.DataFrame({'Area':row, '~60m2':['52','772','113','590'], '60~85m2':['2','1','1061','665'], '85m2~':['0','0','42','142']})

obs = np.array([[52,2],[772,1]])
total_obs = np.sum(obs)

exp = np.array([[(52+2)*(52+772), (52+2)*(2+1)], [(772+1)*(52+772), (772+1)*(2+1)]])

exp = exp / total_obs

squared = np.power(obs - exp, 2)
#squared
chil2 = np.sum(squared / exp)
chil2

array([[3.25481739, 3.25481739],
       [3.25481739, 3.25481739]])

### 4. 2번에 대해서 NumPy 를 사용하여 (Scipy를 사용하지 않고) $\chi^2$ test 시행 후 2번의 결과와 비교해보세요. 

- `obs`, `exp`, `chi`라는 변수를 사용해야합니다.

In [66]:
obs = np.array([[54,52],[782,590]])
total_obs = np.sum(obs)

exp = np.array([[(54+52)*(54+782), (54+52)*(52+590)], [(782+590)*(54+782), (782+590)*(52+590)]])

exp = exp / total_obs

squared = np.power(obs - exp, 2)
#squared
chi = np.sum(squared / exp)
chi #2번과 상이하다... 다시 도전 해야함

1.4676862300933216

## 🔥 도전 과제

아래 세가지를 다하면 됩니다.

### 1. Function

4번에서 사용한 one sample chisquare test를 함수의 형태로 변경하세요.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# 내용을 채우세요.

myChisq(v1) 

# chisquare값과 pvalue를 출력해야합니다.

myChisq(v2)

### 2. ANOVA

아래 링크를 참조하여 ANOVA 에 대한 글을 읽고

<https://partrita.github.io/posts/ANOVA-python/>

다음 `4개 그룹에 대해서 평균의 차이가 있는지`에 대한 가설 검정을 시행하세요.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다